* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url('../img/banner-bg.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.logo {
    height: 60px;
}

.links {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;
}

.link:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.banner-text {
    width: 400px;
    color: #fff;
    bottom: 150px;
    right: 40px;
}

.ods-texts {
    margin-top: 78vh;
    position: relative;
    color: #fff;
}

.ods-text-1 {
    position: absolute;
    top: -150px;
    font-size: 11.25em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.2);
}

.ods-text-2 {
    font-size: 2.8em;
    font-weight: 500;
}

.mais {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mais img {
    position: absolute;
    bottom: -8px;
    width: 20px;
    animation: arrow 2s ease-in-out infinite;
}

@keyframes arrow {
    0% {
        bottom: -8px;
    }
    50% {
        bottom: 0px;
    }
    100% {
        bottom: -8px;
    }
}

.objetivos {
    background: url('../img/metas-aside.png') no-repeat right;
    background-size: 50%;
    min-height: 100vh;
    padding: 80px 0 0 50px;
}

.objetivos p {
    font-size: 1.5em;
}

.mundo {
    min-height: 100vh;
}

.mundo .subtitle {
    color: rgba(0, 0, 0, .6);
}

.meta {
    position: relative;
    padding-bottom: 50px;
    padding-left: 60px;
}

.quadrado {
    position: absolute;
    left: 10px;
    top: -5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 4px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

.linha {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 4px;
    height: 400%;
    background-color: #ccc;
    padding: 0;
}

.grafico {
    width: 100%;
}

.footer {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    color: #fff;
}

.footer img {
    height: 100px;
}