*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #001b48;
}

.header {
  width: 100%;
  height: 85px;
  background: url("../img/header-bg.png") no-repeat center center;
  background-size: cover;
  position: fixed;
}

.header a {
  text-decoration: none;
}
.header-content {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 70px;
  align-items: center;
}

.logo img {
  height: 50px;
}

.logo p {
  color: #ffffff;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-size: 1.2em;
}

.link:hover {
  cursor: pointer;
}

.link:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
}

.link:after {
  transform-origin: 0% 50%;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  z-index: -999;
}

.banner-content {
  position: absolute;
  width: 100%;
  top: 42%;
  text-transform: uppercase;
  font-size: 35px;
}

.banner-content h1 {
  color: rgb(255, 255, 255, 0.94);
  width: 100%;
  text-align: center;
}

.banner-content h2 {
  color: rgb(255, 255, 255, 0.6);
  width: 100%;
  text-align: center;
  margin-top: 130px;
}

/*
  ***************
  Animação do mouse de scroll
  ***************
*/
.icon-scroll {
  border-bottom: 1px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 53vh;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

/* Section sobre */

.sobre {
  width: 100%;
  min-height: 100vh;
  background: url("../img/onu.png") no-repeat center center;
  background-size: contain;
  display: flex;
}

.texts {
  width: 1280px;
  margin: auto;
  margin-top: 300px;
}

.texts .title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}
.texts .desc {
  color: rgb(255, 255, 255, 0.9);
  font-size: 30px;
}

.objetivos {
  width: 100%;
  height: 100vh;
  background: url("../img/sustentabilidade.png") no-repeat center;
  background-size: contain;
  display: flex;
}

.objetivos .texts {
  margin-top: 80px;
}

.list {
  margin-bottom: 20px;
}

.list .item {
  display: flex;
}

.list .item span {
  font-size: 80px;
  color: rgb(255, 255, 255, 0.5);
}
.list .item p {
  margin: 30px 0 0 20px;
  font-size: 34px;
  color: rgb(255, 255, 255);
}

.metas {
  width: 100%;
  min-height: 100vh;
  background: url("../img/recycle.png") no-repeat center;
  background-size: contain;
  display: flex;
}

.metas .texts {
  margin-top: 100px;
}

.metas .texts .title {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.metas .item p {
  margin: 20px 0px;
}

.mundo {
  width: 100%;
  min-height: 100vh;
  background: url("../img/world.png") no-repeat center;
  background-size: contain;
  display: flex;
}

.mundo .texts {
  margin-top: 100px;
}

.mundo .texts .title {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.mundo .item p {
  margin: 10px 20px 0;
  display: flex;
  align-items: center;
}

.mundo .desc {
  margin-top: 00px;
}

.footer {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  color: rgb(255, 255, 255, 0.7);
  background-color: #001231;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
